#content {
  margin-top: 100px;
}

#user {
  border-right: 1px solid gainsboro;
}

#avatar-user {
  display: block;
  margin: 0 auto;
}

.infor-user {
  display: block;
  text-align: center;
}

#user-list {
  margin-top: 30px;
}

.correct {
  color: green;
  font-size: 30px;
}

.incorrect {
  color: red;
  font-size: 30px;
}

#all-word-box, #filter-result-box {
  min-height: 500px;
}

#resultPfd {
  text-align: center;
}

#result {
  min-height: 500px;
}

#title-body-result {
  border-bottom: 1px solid black;
  width: 210px;
}
